<div id="footer">
  Site by Gredelston, with 
  <a href="https://en.wikipedia.org/wiki/Gratitude">thanks</a>
  to olin.js.<br />
  <a href="https://github.com/Gredelston/Every6">Fork the repo</a>!
  Especially to make it prettier.
</div>
