<div id="profile-image-cropper">
  <a href="/">
  	<img src="{{imgURL}}" id="profile-image" />
  </a>
</div>

<div id="profile-text">
  <a href="/">
    {{displayName}}
  </a>
  <a href="/logout">
    (Sign Out)
  </a>
</div>