<div id="navbar">
  <h1 id="logo">Every6</h1>
  <ul id="navbar-items">
    <li class="navbar-item"><a href="/">Home</a></li>
    <li class="navbar-item"><a href="/">This Term</a></li>
    <li class="navbar-item"><a href="/">Past Terms</a></li>
    <li class="navbar-item"><a href="/">About</a></li>
    <li class="navbar-item"><a href="/logInOrOut" id="navbar-auth"></a></li>
  </ul>
</div>

<script>
	$(document).ready(function() {
    console.log("Firing get request");
		$.get('/getGoogleUser', function(data) {
      console.log("DATA: ", data);

      if (data) {
        $.get('/loggedInDisplay', function(renderedHTML) {
          $("#navbar-auth").html(renderedHTML);
        });
      } else {
        $("#navbar-auth").html(
          "<img src='images/google-login.png' height='26' />"
        );
      }
		});
	});
</script>