<div id="navbar">
  <a href="/" id="logo-link"><h1 id="logo">Every6</h1></a>
  <ul id="navbar-items">
    <li class="navbar-item"><a href="/">Home</a></li>
    <li class="navbar-item"><a href="/thisPeriod">This Period</a></li>
    <li class="navbar-item"><a href="/pastPeriods">Past Periods</a></li>
    <li class="navbar-item"><a href="/about">About</a></li>
  </ul>
  <a href="/logInOrOut" id="navbar-auth"></a>
</div>

<script>
	$(document).ready(function() {
    console.log("Firing get request");
		$.get('/getGoogleUser', function(data) {
      console.log("DATA: ", data);

      if (data) {
        $.get('/loggedInDisplay', function(renderedHTML) {
          $("#navbar-auth").html(renderedHTML);
        });
      } else {
        $("#navbar-auth").html(
          "<img src='images/google-login.png' id='login-image' height='35' />"
        );
      }
		});
	});
</script>