<div id="navbar">
  <h1 id="logo">Every6</h1>
  <ul id="navbar-items">
    <li class="navbar-item"><a href="/">Home</a></li>
    <li class="navbar-item"><a href="/">This Term</a></li>
    <li class="navbar-item"><a href="/">Past Terms</a></li>
    <li class="navbar-item"><a href="/">About</a></li>
    <li class="navbar-item"><a href="/">Sign In</a></li>
  </ul>
</div>