<h1>All Reflections</h1>
<ul>
  {{#each reflections}}
    {{>reflectionLinkShowUser}}
  {{/each}}
</ul>

<h1>All Users</h1>
<ul>
  {{#each users}}
    <li>
      <a href="/user/{{this.googleID}}">
        {{this.displayname}}
      </a>
      {{#if this.reading}}
        (Currently reading: {{this.reading}})
      {{/if}}
    </li>
  {{/each}}
</ul>