<h1>
  You have one last homework assignment.
</h1>

President Richard Miller offered the Olin Class of 2015 a challenge:

<ol>
  <li>Find a group of friends who care about your continued growth.</li>
  <li>Every six months, read a non-fiction book -- preferably one from outside of your area of expertise.</li>
  <li>Write a personal reflection on that book, and send it to your friends.
    They will make sure that you are still learning and growing.</li>
</ol>

Every6 is a tool to help us stay accountable to that assignment. It is a community where we can share our reflections and monitor each other's personal growth. It is a personal log of your growth through time. And it will send you politely nagging emails to make sure you're actually doing your homework.
<br><br>
Assignments are due every June 1 and December 1.

<br>

<h3>And while you're here, a few notes on the site...</h3>

<ul>
  <li>This site is very much unstable. There are many bugs.<br>Please be forgiving, and don't try to break it.</li>
  <li>I am not a visual designer. And I was definitely not thinking about aesthetics when I was mashing this together.If you wish this site was prettier, please make it prettier.<br>
    <a href="https://github.com/Gredelston/Every6">(Link to Github)</a></li>
  <li>For that matter, please add or fix anything you want to be added or fixed.<br>I'll try to keep a running list of wanted features in the <a href="https://github.com/Gredelston/Every6/blob/master/README.md">README</a> on the <a href="https://github.com/Gredelston/Every6">Git repo</a>.<br>If there's anything else.you want added, let me know.</li>
</ul>

Godspeed, and sorry for the 1999-esque web design!<br>
Greg Edelston, 2015