<div id="haveYouCommitted">
  <h2>
    It looks like you're not already reading something!
  </h2>
</div>

<div id="yourPastReflections">
  <h2>
    This is where your past reflections will go.
  </h2>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $.get("myReflections", function(data) {
      console.log('Your reflections: ', data);
    });
    $.get("whatAmIReading", function(data) {
      console.log("You are reading: ", data);
    });
  });
</script>