<div id="haveYouCommitted">
  <h2>
    It looks like you're not already reading something!
  </h2>
</div>

<div id="yourPastReflections">
  <h2>
    Your Previous Reflections
  </h2>
  <ul id="yourReflections">
    {{#each reflections}}
      {{> reflectionLink}}
    {{/each}}
  </ul>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $.get("whatAmIReading", function(data) {
      console.log("You are reading: ", data);
    });
  });
</script>