<div id="haveYouCommitted">
  <h2>
    It looks like you're not already reading something!
  </h2>
</div>

<div id="yourPastReports">
  <h2>
    This is where your past reports will go.
  </h2>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $.get("myReports", function(data) {
      console.log('Your reports: ', data);
    });
  });
</script>