/* BASIC FORMATTING */

body {
	background-color: #ecf0f1;
}

/* FONTS */

* {
	font-family: 'Muli', sans-serif;
}

#main-headline {
	font-family: 'Rock Salt', cursive;
}

h1, h2 {
	font-family: 'Lobster Two', cursive;
}

.twote {
	font-size: 16px;
}

.twote-text {
	font-family: 'Indie Flower', cursive;
	font-size: 24px;
}

/* NAVBAR */

#navbar {
	padding: 1%;
	border-bottom: 1px solid;
	border-color: gray;
}

#logo {
	display: inline;
	margin-right: 16%;
}

#navbar-items {
	display: inline;
}

.navbar-item {
	display: inline;
	margin-left: 8%;
	color: gray;
	text-decoration: none;
	font-size: 20px;
}

.navbar-item a {
	color: gray;
	text-decoration: none;
}

.navbar-item a:hover {
	color: black;
	text-decoration: underline;
}