/* BASIC FORMATTING */

body {
	background-color: #f1c40f;
}

/* FONTS */

* {
	font-family: 'Muli', sans-serif;
}

a {
	color: #d35400;
	text-decoration: none;
}

a:hover {
	color: #3498db;
	text-decoration: underline;
}

#main-headline {
	font-family: 'Rock Salt', cursive;
}


.twote {
	font-size: 16px;
}

.twote-text {
	font-family: 'Indie Flower', cursive;
	font-size: 24px;
}

/* SIGNUP */
#signupBlurb {
}

/* FOOTER */
#footer {
	border-top: 1px solid gray;
	text-align: center;
	padding: 1%;
	margin: 1%;
}