#navbar {
	padding: 0.5%;
	padding-bottom: 1%;
	margin: 1%;
	border-bottom: 1px solid;
	border-color: gray;
}

#logo {
	display: inline;
	margin-right: -2%;
	color: #3498db;
}

#logo-link {
	text-decoration: none;
}

#logo:hover {
	text-decoration: underline;
}

#navbar-items {
	display: inline;
}

.navbar-item {
	display: inline;
	margin-left: 6%;
	color: gray;
	text-decoration: none;
	font-size: 20px;
}

#navbar a {
	color: gray;
	text-decoration: none;
}

#navbar ul a:hover, #navbar #profile-text a:hover {
	color: #c0392b;
	text-decoration: underline;
}

#navbar-profile {
	position: absolute;
	right: 5%;
}

#login-image {
	position: absolute;
	right: 4%;
	top: 6px;
}

#profile-image {
	height: 50%;
	position: relative;
	overflow: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

#profile-image, #profile-image-cropper {
	display: inline;
}

#profile-text {
	display: inline;
	font-size: 20px;
}